/* Styling for the navigation items as buttons */
.navbar .nav-link {
  display: flex;
  align-items: center;
  margin: 0 15px; /* Espacement augmenté */
  padding: 12px 25px; /* Espacement augmenté */
  border: none;
  background: transparent;
  color: burlywood; /* Couleur du texte plus sombre pour le contraste */
  font-size: 18px; /* Taille du texte augmentée */
  font-weight: 600; /* Poids du texte augmenté */
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  border-radius: 8px; /* Coins arrondis pour les boutons */
  text-shadow: 2px 2px brown;
}

/* Styling for hover state */
.navbar .nav-link:hover,
.navbar .nav-link:focus {
  background: linear-gradient(180deg, #F2D8DB 0%, #F2D8DB 66%); /* Dégradé au survol */
  color: #3C3C3C; /* Couleur du texte au survol, contrastée avec le fond */
  transform: scale(1.05); /* Agrandissement léger du bouton */
}

/* Styling for active state */
.navbar .nav-link.active {
  background: linear-gradient(180deg, #F2D8DB 0%, #F2D8DB 66%); /* Dégradé pour l'état actif */
  color: #3C3C3C; /* Couleur du texte pour l'état actif */
}
