@media (max-width: 425px) {
   
    .custom-img{
        width: 350px;
        height: 300px;
        margin-left: 15px;
        margin-right: auto;
        object-fit: cover;
    }
}
@media (min-width: 425px) and (max-width: 768px) {
 
    .custom-img{
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
    }
}
@media (min-width: 768px) {
 
    .custom-img{
        width: 100%;
        
        object-fit: cover;
        border-radius: 10;
        margin-left: auto;
        margin-right: auto;
    }
}
.product-specification {
    margin: 20px 0;
    padding: 20px;
 /* Un rose pâle pour rester cohérent avec votre schéma de couleurs */
    

}

.product-specification h3 {
    font-size: 1.5rem;
    color: black; /* Un rose vif pour faire ressortir le titre */
    margin-bottom: 15px;
}

.product-specification ul {
    list-style-type: none;
    padding: 0;
}

.product-specification ul li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333;
}

/* Flexbox to align specification section on the left */
.row.gx-lg-5 {
    display: flex;
    flex-direction: row;
}

.product-specification {
    order: 2;
    flex: 1;
}

.col-md-6.mb-4.mb-md-0 {
    flex: 2;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 2rem;
    color: #ddd;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: #FFE6E9;
    
}